/* COLOR REFERENCES:
   Blue: #0065FC
   Light blue: #DEEBFF 
   Grey: #F2F2F2  
*/

/* MAIN */     
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    min-width: fit-content;
}
a, a:hover, a:visited a:link {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}

/* HEADER */
    /* navbar */
header {
    padding : 0em 3em;
}
nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-top: 50px;
}
    /* menu */ 
nav ul {
    display: flex;
    flex-wrap: wrap;
}
nav li  {
    list-style-type: none;
    padding: 4em 0em 2.5em 0em;
}
.lodging a, .activities a {
    font-size: 1.2rem;
    font-weight: 500;
    border-top: 3px solid transparent;
    padding: 60px 50px 0px 50px;
}
.subscribe a {
    color:#0065FC;
    font-size: 1.2em;
    font-weight: 800;
    padding: 60px 0px 0px 50px;
}
.lodging a:hover, .activities a:hover {
    color:#0065FC;
    border-top: 3px solid #0065FC;
}

/* SEARCH */
.section_search {
    padding: 1.5em 3em 3em 3em;
}
    /* presentation */
.presentation h1 {
    font-size: 1.5em;
    font-weight: 800;
}
.presentation p {
    font-size: 1.2em;
    margin: 0.5em 0em 1em 0em;
}
    /* searchbar */
.map_icon {
    background-color: #F2F2F2;
    color: black;
    font-size: 1.2em;
    padding: 0.8em 1em 0.8em 1em;
    border-radius: 0.8em 0em 0em 0.8em;
}
.searchbar form {
    display: inline-flex;
}
.searchbar input {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    border: solid #F2F2F2;
    border-width: 0.09em; 
    padding : 0.6em 0em 0.6em 0.6em;
}
.text_button {
    background-color: #0065FC;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    border-radius: 0em 0.8em 0.8em 0em;
    padding: 0.6em;
    cursor: pointer;
}
    /* filters */
.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em 0em;
}
.filters p {
    font-size: 1.2em;
    font-weight: 800;
}
.filter_button {
    background-color: white;
    color: #0065FC;
    font-size: 1.2em;
    font-weight: 800;
    border: 0.16em solid #F2F2F2;
    border-radius: 5em;
    display: inline-flex;
    box-sizing: border-box;
    margin: 0.4em 0.4em 0.4em 2em;
    align-items: center;
    height: 50px;
}
.filter_button span a {
    padding: 0 0.5em 0 0.5em;
}
.filters i {
    background: #DEEBFF;
    width: 2.5em;
    height: 2.5em; 
    border-radius: 50%;
    text-align: center;
    line-height: 2.5em;
    vertical-align: middle;
    position: relative;
    left: -0.16em;
}
.filter_button:hover {
    background-color: #F2F2F2;
}
    /* information */
.search_info {
    display: inline-flex;
    align-items: flex-start;
} 
.search_info i {
    color: #0065FC;
    font-size: 1em;
    border: solid #F2F2F2; 
    border-width: 0.15em;
    padding: 0.4em 0.7em;
    border-radius: 50%;
}
.search_info span {
    font-size: 1.2em;
    margin-left: 0.7em;
}

/* MAIN */
.blocks_margin {
    margin-bottom: 2.5em;
}
.section_lodging_popular {
    display : flex;
    margin: 0em 3em 0em 3em;
}    
    /* text */
h2 {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 1em
}
.cards_titles {
    font-size: 1.2em;
    font-weight: 800;
    padding: 0.4em 0em 0.4em 0em;
}
.cards_prices {
    font-size: 1.1em; 
    padding-bottom: 0.4em;
}
.cards_prices em {
    font-weight: 800;
    font-style: normal;
}
.blue_star {
    color:#0065FC;
    font-size: 0.8em;
}
.grey_star {
    color: #F2F2F2;
    font-size: 0.8em;
}

/* LODGING IN MARSEILLE */
    /* block : lodging in Marseille*/
.section_lodging {
    background-color: #F2F2F2;
    border-radius: 2em;
    padding: 3em 3em 1.5em 3em;
}
.lodging_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lodging_flex .blocks_margin {
    width: 30%;
    min-width: 280px;
}
.more a {
    font-size: 1.2em;
    font-weight: 800;
}
    /* blocks : lodging choices */
.lodging_choices {
    background-color: white;
    height: 240px;
    border-radius: 1.6em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ;
} 
    /* text */
.lodging_text {
    padding: 0em 1.2em;
}
    /* pictures */
.lodging_img {
    text-align: center;   
}
.lodging_img img {
    width: 96%;
    height: 125px;
    object-fit: cover;
    border-radius: 1.6em 1.6em 0em 0em;
    padding: 0.35em;
}

/* MOST POPULAR */
    /* block : most popular*/
.section_most_popular {
    background-color: #F2F2F2;
    margin-left: 40px;
    border-radius: 2em;
    padding: 3em 3em 1.5em 3em;
}
.most_popular_flex {
    display: flex;
    flex-direction: column;
}
.title_icon {
    display: flex;
    justify-content: space-between;
}
.title_icon i {
    font-size: 1.5em;
}
    /* blocks : most popular lodging*/
.most_popular_choices {
    background-color: white;
    height: 165px;
    width: 100%;
    border-radius: 1.6em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ; 
    display: flex;
}
    /* text */
.most_popular_text {
    width: 180px;
    margin: 1em 0em 1em 1em;
}
.section_most_popular .cards_prices {
    margin: 0em 0em 1.7em 0em;  
}
    /* pictures */
.most_popular_img img {
    height: 94%;
    width: 125px;
    object-fit: cover;
    border-radius: 1.6em 0em 0em 1.6em;
    padding: 0.35em; 
}

/* ACTIVITIES IN MARSEILLE */
    /* block : activities in Marseille */
.section_activities {
    padding: 3em;
}
.activities_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container_2_activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    /* blocks : activities choices */
.big_activities_choices {
    background-color: white;
    min-width: 300px;
    max-width: 350px;
    height: 480px;
    border-radius: 1.6em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ;
} 
.medium_activities_choices {
    background-color: white;
    min-width: 300px;
    max-width: 350px;
    height: 250px;
    border-radius: 1.6em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ; 
}
.standard_activities_choices {
    background-color: white;
    min-width: 300px;
    max-width: 350px;
    height: 220px;
    border-radius: 1.6em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ;  
}
.small_activities_choices {
    background-color: white;
    min-width: 300px;
    max-width: 350px;
    height: 190px;
    border-radius: 1.6em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ; 
}
    /* pictures */
.activities_img {
    text-align: center;   
}
.big_activities_img img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 1.6em 1.6em 0em 0em;
}
.medium_activities_img img {
    width: 100%;
    height: 185px;
    object-fit: cover;
    border-radius: 1.6em 1.6em 0em 0em;
}
.standard_activities_img img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 1.6em 1.6em 0em 0em;
}
.small_activities_img img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 1.6em 1.6em 0em 0em;
}
    /* text */
.activities_text {
    padding: 0.5em 1.2em 0em 1.2em;
}

/* FOOTER */
footer {
    background-color: #F2F2F2 ;
    padding: 3em 3em 0em 3em;
    display: flex;
    flex-wrap: wrap;
}
footer ul {
    list-style: none;
}
.footer_category {
   padding: 0em 18em 3em 0em;
}
footer h2 {
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 0.5em;
}
footer ul li {
    font-size: 1.2em;
    padding-top: 0.6em;
}

/* RESPONSIVE : DESKTOP */
@media only screen and (min-width: 768px) {
.icon_button {
    display: none;
}
}  

/* RESPONSIVE : TABLET*/
@media only screen and (max-width: 1300px) {
    /* lodging */
.section_lodging_popular {
    flex-direction: column-reverse;
    margin: 0;
}
.section_lodging {
    background: none;
}
    /* activities */
.big_activities_choices {
    min-width: 300px;
    max-width: 320px;
} 
.medium_activities_choices {
    min-width: 300px;
    max-width: 320px;
}
.standard_activities_choices {
    min-width: 300px;
    max-width: 320px;
}
.small_activities_choices {
    min-width: 300px;
    max-width: 320px;
}
    /* most popular */
.section_most_popular {
    border-radius: 0em;
    margin-left: 0;
}
.lodging_flex .blocks_margin {
    width: 45%;
}
    /* footer */
footer {
    padding: 3em 3em 0em 3em;
}
.footer_category {
padding: 0 1.5em 3em 1.5em;
}
}

/* RESPONSIVE : MOBILE */
@media only screen and (max-width: 767px) {
    /* header */
header {
    padding: 0;
}
nav ul {
    flex-wrap: wrap-reverse;
}
.logo {
    position: absolute;
    padding-left: 1.5em;
}
.subscribe {
   margin-left: 70%
}
.subscribe a {
    position: absolute;
    padding: 0;
    font-size: 1em;
}
.lodging, .activities {
    width: 50%;
    padding-top: 30px;
}
.lodging a, .activities a{
    font-size: 1em;
    border-top: none;
    border-bottom: 5px solid #F2F2F2;
    padding: 30px 62px 20px 62px;
}
.lodging a:hover, .activities a:hover {
    color:#0065FC;
    border-top: none;
    border-bottom: 5px solid #0065FC;
}
    /* main */
h2 {
    font-size: 1.3em;
    margin-bottom: 1.5em
}
.blocks_margin {
    margin-bottom: 1em;
}
.cards_titles {
    font-size: 1.1em;
}
.cards_prices {
    font-size: 1em;
}
.blue_star {
    font-size: 0.7em;
}
.grey_star {
    font-size: 0.7em;
}
    /* search */
.section_search {
    padding: 1.5em;
}
.presentation h1 {
    font-size: 1.3em;
}
.presentation p {
    font-size: 0.9em;
}
.searchbar {
   margin: 2em 0em 2em 0em;
}
.map_icon {
    font-size: 1.1em;
}
.searchbar input {
    font-size: 1.1em;
}
.icon_button {
    font-size: 1.1em;
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    padding: 0.8em 0.9em 0.8em 0.9em;
    background-color: #0065FC;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    left: -0.45em;
}
.text_button {
    display: none;
}
.filters {
    align-items: flex-start;
}
.filters p {
   font-size: 1.1em;
    width: 100%;
    padding-bottom: 0.5em;
}
.filter_button {
    font-size: 1.1em;
    margin-left: 0;
    height: 45px;
}
.search_info i {
   font-size: 0.7em;
}
.search_info span {
    font-size: 0.9em;
}
    /* most popular */
.section_most_popular {
    padding: 1.5em;
}
.title_icon i {  
    font-size: 1.5em;
}
    /* lodging */
.section_lodging {
    padding: 1.5em;
}
.lodging_flex {
    flex-direction: column;
}
.lodging_flex .blocks_margin {
    width: 100%;
}
    /* activities */
.section_activities {
    flex-direction: column;
    padding: 1.5em;
}
.big_activities_choices {
    height: 240px;
    min-width: 325px;
} 
.medium_activities_choices {
    height: 240px;
    min-width: 325px;
}
.standard_activities_choices {
    height: 240px;
    min-width: 325px;
}
.small_activities_choices {
    height: 240px;
    min-width: 325px;
}
.big_activities_img img {
    height: 180px;
}
.medium_activities_img img {
    height: 180px;
}
.standard_activities_img img {
    height: 180px;
}
.small_activities_img img {
    height: 180px;
}
    /* footer */
footer {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1.5em;
}
.footer_category {
    padding: 0 0 2.5em 0;
}
footer h2 {
    font-size: 1.2em;
}
footer ul li {
    font-size: 1.1em;
}
} 
