/* COLOR REFERENCES:
   Blue: #0065FC
   Light blue: #DEEBFF 
   Grey: #F2F2F2  
*/

/* MAIN */     
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a, a:hover, a:visited a:link {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
.bloc_page {
    width: auto;
}

/* HEADER */
    /* navbar */
header {
    margin : 0em 3em;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    /* logo */
.logo img {
    width: 130px;
}
    /* menu */ 
nav ul {
    display: flex;
    flex-wrap: wrap-reverse;
}
nav li  {
    list-style-type: none;
    padding: 4em 1em 2.5em 1em;
}
.lodging a, .activities a {
    font-size: 1.3em;
    font-weight: 500;
    border-top: 3px solid transparent;
    padding: 60px 30px 0px 30px;
}
.lodging a:hover, .activities a:hover {
    color:#0065FC;
    border-top: 3px solid #0065FC;
}
.subscribe a {
    color:#0065FC;
    font-size: 1.3em;
    font-weight: 800;
    padding: 60px 0px 0px 30px;
}

/* SECTION 1 : SEARCH */
.section_1 {
    margin : 0em 3em;
}
    /* presentation */
.presentation h1 {
    font-size: 1.9em;
    font-weight: 800;
}
.presentation p {
    font-size: 1.3em;
    margin: 0.5em 0em 1em 0em;
}
    /* searchbar */
.map_icon {
    background-color: #F2F2F2;
    color: black;
    font-size: 1.5em;
    padding: 0.8em 0.8em 0.8em 1em;
    border-radius: 0.8em 0em 0em 0.8em;
}
.searchbar form {
    display: inline-flex;
}
.searchbar input {
    font-size: 1.5em;
    font-weight: bold;
    border: solid #F2F2F2;
    border-width: 0.09em; 
    padding : 0.8em 0em 0.8em 0.8em;
}
.searchbar button {
    background-color: #0065FC;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    border: none;
    border-radius: 0em 0.8em 0.8em 0em;
    padding: 0.8em 0.8em 0.8em 0.8em;
    cursor: pointer;
}
    /* filters */
.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0em;
}
.filters p {
    font-size: 24px;
    font-weight: 800;
}
.filter_button {
    background-color: white;
    color: #0065FC;
    font-size: 24px; 
    font-weight: 800;
    border: 0.16em solid #F2F2F2;
    border-radius: 5em;
    display: inline-flex;
    box-sizing: border-box;
    margin-left: 2em;
    align-items: center;
    height: 60px;
}
.filter_button span a {
    padding: 0 0.5em 0 0.5em;
}
.filters i {
    background: #DEEBFF;
    width: 2.5em;
    height: 2.5em; 
    border-radius: 50%;
    text-align: center;
    line-height: 2.5em;
    vertical-align: middle;
    position: relative;
    left: -0.16em;
}
.filter_button:hover {
    background-color: #F2F2F2;
}
    /* information */
.search_info {
    display: inline-flex;
    align-items: center;
}
.search_info i {
    color: #0065FC;
    font-size: 1em;
    border: solid #F2F2F2; 
    border-width: 0.15em;
    padding: 0.4em 0.7em;
    border-radius: 50%;
}
.search_info span {
    font-size: 1.3em;
    margin-left: 0.7em;
}
/* SECTION 2 & 3 */
.section_2_3 {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 95%;
    margin: 3em 3em;
}
/* SECTION 2 : LODGING IN MARSEILLE */
    /* block : lodging in Marseille*/
.section_2 {
    background-color: #F2F2F2;
    width: 60%;
    min-width: 450px;
    height: auto;
    border-radius: 2em;
    padding: 3em 3em 1.5em 3em;
}
.section_2 h2 {
    font-size: 1.9em;
    font-weight: 800;
    margin-bottom: 1em;
}
.more a {
    font-size: 1.5em;
    font-weight: 800;
}
.more {
    margin: 1.3em 0em 2em 0em;
}
.lodging_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    /* blocks : lodging choices */
.lodging_choices {
    background-color: white;
    width: 320px;
    height: 260px;
    border-radius: 1.6em;
    margin-bottom: 2.5em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ;
} 
    /* text */
.lodging_titles {
    font-size: 1.4em;
    font-weight: 800;
    margin: 0em 0em 0.5em 0em;
}
.lodging_prices {
    font-size: 1.2em;
    margin: 0em 0em 0.5em 0em;
}
.lodging_prices em {
    font-weight: 800;
    font-style: normal;
}
.lodging_text {
    padding: 0em 1.2em;
}
.blue_star {
    color:#0065FC;
}
.grey_star {
    color: #F2F2F2;
}
/* pictures */
.lodging_img {
    text-align: center;   
}
.lodging_img img {
    width: 95%;
    height: 145px;
    object-fit: cover;
    border-radius: 1.6em 1.6em 0em 0em;
    padding: 0.4em;
}

/* SECTION 3 : MOST POPULAR */
    /* block : most popular*/
.section_3 {
    background-color: #F2F2F2;
    width: 450px;
    border-radius: 2em;
    padding: 3em 3em 1.5em 3em;
}
.section_3 h2 {
    font-size: 1.9em;
    font-weight: 800;
}
.title_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}
.title_icon i {
    font-size: 2em;
}
    /* blocks : most popular lodging*/
.most_popular_margin {
    margin-bottom: 2.5em;
}
.most_popular_choices {
    background-color: white;
    width: 100%;
    height: 183px;
    border-radius: 1.6em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ; 
    display: flex;
}
.most_popular_flex {
    display: flex;
    flex-direction: column;
}
    /* text */
.most_popular_titles {
    font-size: 1.4em;
    font-weight: 800;
    margin: 0em 0em 0.5em 0em;
}
.most_popular_prices {
    font-size: 1.2em;
    margin: 0em 0em 2.4em 0em;   
}
.most_popular_prices em {
    font-weight: 800;
    font-style: normal;
}
.most_popular_text {
    width: 200px;
    margin: 1.2em 0em 1.2em 2em;
}
    /* pictures */
.most_popular_img {
    width: 160px;
    }
.most_popular_img img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 1.6em 0em 0em 1.6em;
    padding: 0.4em; 
}

/* SECTION 4 : ACTIVITIES IN MARSEILLE */
    /* block : activities in Marseille */
.section_4 {
    width: 95%;
    margin: 3em 3em;
}
.section_4 h2 {
    font-size: 1.9em;
    font-weight: 800;
    margin-bottom: 1em;
    }
.activities_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 640px;
}
    /* blocks : activities choices */
.big_activities_choices {
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 1.6em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ;
} 
.medium_activities_choices {
    background-color: white;
    width: 400px;
    height: 310px;
    border-radius: 1.6em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ; 
}
.standard_activities_choices {
    background-color: white;
    width: 400px;
    height: 280px;
    border-radius: 1.6em;
    margin-bottom: 2.5em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ;  
}
.small_activities_choices {
    background-color: white;
    width: 400px;
    height: 210px;
    border-radius: 1.6em;
    margin-bottom: 2.5em;
    box-shadow: 0.3em 0.3em 1.6em #c9c9c9 ; 
}
    /* pictures */
.activities_img {
    text-align: center;   
}
.big_activities_img img {
    width: 100%;
    height: 530px;
    object-fit: cover;
    border-radius: 1.6em 1.6em 0em 0em;
}
.medium_activities_img img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 1.6em 1.6em 0em 0em;
}
.standard_activities_img img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 1.6em 1.6em 0em 0em;
}
.small_activities_img img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 1.6em 1.6em 0em 0em;
}
    /* text */
.activities_titles {
    font-size: 1.4em;
    font-weight: 800;
    padding-left: 1.2em;
}

/* FOOTER */
footer {
    background-color: #F2F2F2 ;
    width: 100%;
    margin-top: 3em;
    display: flex;
}
footer ul {
    list-style: none;
}
.footer_category {
    padding: 3em 20em 3em 3em;
}
footer h2 {
    font-size: 1.5em;
    font-weight: 800;
    padding-bottom: 0.5em;
}
footer ul li {
    font-size: 1.3em;
    padding-top: 0.6em;
}